body{
    background: linear-gradient(150deg,red,blue);/*FONDO DOBLE COLOR EN LINEA HORIZONTAL 2 colores en linea */
    height: 100vh;/*ESTE ES QUE QUE LO ACOMODA (el que lo une) */
    
}
.formulario{
    position:absolute; /*centra*/
    height: 70%;
    top: 50%;/*bajar*/          /*de position hasta transform centra el codigo*/
    left: 20%;/*izquierdad pocision*/
    transform: translate(-50%,-50%);
    width: 500px; /*ancho*/
    background: rgb(214, 137, 137);
    border-radius: 10px; /*borde del centro del login*/

    transition: .5s;
   


}
.nombre{
    position: absolute;
    top: 30%;
    left: 30%;
    border-radius: 10px;
    
}
.apellido{
    position: absolute;
    top:45%;
    left: 30%;
    border-radius: 10px;
}
.guardar{
    position: absolute;
    top: 65%;
    left: 40%;
    background-color: rgb(23, 99, 212);
    border-radius: 10px;
    border: 1px solid;
    color: white;
    width: 20%;
    height: 5%;
}

.guardar:hover{
    border-color: rgb(62, 111, 190);
    transition: .10s;
}
.titulo{
    position: absolute;
    left: 20%;
    top: 9%;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 0 20px 0; /*espacio entre inicio de sesion y los datos que piden*/
    border-bottom: 1px solid rgb(163, 23, 238);/*linea debajo de inicio de sesion*/

}
.formulario h2{
    position: absolute;
    left: 36%;
    font-size: medium;
    top: 25%;
    font-family: 'Times New Roman', Times, serif;
}

.formulario h3{
    position: absolute;
    left: 36%;
    font-size: medium;
    top: 40%;
    font-family: 'Times New Roman', Times, serif;
}
.mostrar{
    position:absolute; /*centra*/
    height: 70%;
    top: 50%;/*bajar*/          /*de position hasta transform centra el codigo*/
    transform: translate(-50%,-50%);
    width: 500px; /*ancho*/
    background: rgb(214, 137, 137);
    border-radius: 10px; /*borde del centro del login*/
    right: 0%;

    transition: .5s;
   


}